<div class="col-md-12 col-sm-12">
  <%= form_for @post do |f| %>

    <div class="form-group" id="route_selecters">
      <%= f.label "Route", class: 'col-1' %>
      <div class="col-12">
        <% region_options = Region.order(:id).where(able: true).map { |r| [r.name, r.id, data: { crags_path: region_crags_path(r) }] } %>
        <%= f.select :region_id, region_options, { include_blank: true }, class: 'form-control col-12 col-md-3 select-region' %>
      </div>

      <%= f.label " ", class: 'col-1' %>
      <div class="col-12">
        <%
        crags = @post.region.try(:crags) || []
        crag_options = crags.map { |c| [c.name, c.id] }
        %>
        <%= f.select :crag_id, crag_options, { include_blank: true }, class: 'form-control col-12 col-md-3 select-crag' %>
      </div>

      <%= f.label " ", class: 'col-1' %>
      <div class="col-12">
        <%
        areas = @post.crag.try(:areas) || []
        area_options = areas.map { |a| [a.name, a.id] }
        %>
        <%= f.select :area_id, area_options, { include_blank: true }, { class: "form-control col-12 col-md-3 select-area" } %>
      </div>

      <%= f.label " ", class: 'col-1' %>
      <div class="col-12">
        <%
        routes = @post.area.try(:routes) || []
        route_options = routes.map { |r| [r.name, r.id] }
        %>
        <%= f.select :route_id, route_options, { include_blank: true }, { class: "form-control col-12 col-md-3 select-route" } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Date", class: 'col-1' %>
      <div class="col-12 col-md-3">
        <%= f.date_field :day, class: 'form-control datepicker' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Result", class: 'col-1' %>
      <div class="col-12 col-md-3">
        <%= f.select :result, ['Flash', 'Send', 'Project'], {include_blank: 'Select result'}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Caption", class: 'col-1' %>
      <div class="col-12">
        <%= f.text_area :caption, {class: 'form-control', rows: 6} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Image", class: 'col-1' %>
      <div class="col-12">
        <%= f.file_field :picture, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-12 col-md-3">
        <%= f.submit "Post", {class: 'btn btn-primary btn-block'} %>
      </div>
    </div>

  <% end %>
</div>
