<ol class="list-group col-md-6 offset-md-3 posts">

<% @posts.each do |post| %>
    <li class="list-group-item post" id="post-<%= post.id %>">

      <div class="col-12 post-header clearfix">
        <span class="post-user-name float-left"><%= post.user.name %></span>
        <span class="post-posted">Posted <%= time_ago_in_words(post.created_at) %> ago</span>
        <span class="post-ellips float-right"><i class="fas fa-ellipsis-v"></i></span>
      </div>

      <div class="col-12 post-pict">
          <div class="float-left pict">
            <%= image_tag post.picture_url(:thumb) %>
          </div>
      </div>

      <div class="col-12 post-route-info">
        <%= post.route.name %>
        (<%= post.route.grade %>)
        <%= post.region.name %><br>

        <%
        case post.result
        when "flash"
          badge = "primary"
        when "send"
          badge = "success"
        when "project"
          badge = "secondary"
        end
        %>

        <span class="post-date"><%= post.day %></span>
        <span class="badge badge-<%= badge %>"><%= post.result %></span>
      </div>

      <div class="col-12">
        <i class="far fa-star fa-2x"></i>
      </div>

      <div class="col-12">○○ Favs</div>
      <div class="col-12">○○ Comments</div>

      <div class="col-12"><%= post.caption %></div>

      <div class="col-12">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="comment..."></textarea>
          </div>
      </div>

    </li>

<% end %>

</ol>
