<nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-around">
  <%= link_to root_path, { class: "nav-link" } do %>
    <i class="fas fa-home fa-lg"></i>
  <% end %>

  <%= link_to root_path, { class: "nav-link" } do %>
    <i class="fas fa-search fa-lg"></i>
  <% end %>

  <%= link_to root_path, { class: "nav-link" } do %>
    <i class="fas fa-plus-square fa-lg"></i>
  <% end %>

  <%= link_to root_path, { class: "nav-link" } do %>
    <i class="far fa-bell fa-lg"></i>
  <% end %>

  <%= link_to new_user_path, { class: "nav-link" } do %>
    <i class="far fa-user fa-lg"></i>
  <% end %>
</nav>
