<!DOCTYPE html>
<html>
  <head>
    <title>Gamba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>

<%
=begin
%>
<%= debug(request.path_info) if Rails.env.development? %>
<%= debug(params) if Rails.env.development? %>
<%= debug(current_user) if Rails.env.development? %>
<%= debug(@user) if Rails.env.development? && request.path_info == users_path %>
<%= debug(@records) if Rails.env.development? %>
<%= debug(@record) if Rails.env.development? && request.path_info == records_path %>
<%= debug(@grades) if Rails.env.development? && request.path_info == users_path %>
<%
=end
%>

    <%= render 'layouts/footer' %>
  </body>
</html>
